## Exercise 1

### Exercise 1.1 & 1.2

In [54]:
discardpile1=[]                                          # initialize list of discardpile1 for player1
discardpile2=[]                                          # initialize list of discardpile2 for player2
winning_pile=[]
player1=[]
player2=[]
def play():                                              # define the function play
    no_of_ties=0
    cards=[j for i in range(1,5) for j in range(1,14)]         # deck of cards using list comprehension
    np.random.shuffle(cards)                                   # shuffle the deck of cards
    k=0
    while k <len(cards):        
        player1.append(cards[k])                              # distribute cards to the players alternatively
        if (k+1<len(cards)):
             player2.append(cards[k+1])  
        k=k+2
    i=0                                                
    while i<len(player1):                                # using while loop to iterate through players cards
        sum1=0                                           # initialize sum1 to 0, sum1 is sum of 2 cards played by player1
        sum2=0                                           # initialize sum2 to 0, sum1 is sum of 2 cards played by player2
        p1=[]                                            # initialize p1 i.e cards played by player1 
        p2=[]                                            # initialize p2 i.e cards played by player2
        p1.append(player1[i])                            # append cards to both lists
        p1.append(player1[i+1])
        p2.append(player2[i])
        p2.append(player2[i+1])
        sum1=sum(p1)                                        #sum to find which player has greater sum of cards
        sum2=sum(p2)
        if(sum1>sum2):                                      # check if sum1 is greater than sum2
            discardpile1.extend(p1)                         # add cards to discardpile of player1
            discardpile1.extend(p2)
            winning_pile.append(sum1)
            p1=[]                                           #empty p1 and p2
            p2=[]
            i=i+2                                           #increment i by 2
        elif(sum2>sum1):                                    # check if sum2 is greater than sum1
            discardpile2.extend(p1)                         # add cards to discardpile of player2
            discardpile2.extend(p2)
            winning_pile.append(sum2)
            p1=[]                                           # empty p1 and p2
            p2=[] 
            i=i+2                                           # increment i by 2 
        elif(sum1==sum2):                                   # else if sum1 is equal to sum2
            while(sum1==sum2 and i+2<len(player1)):         # while loop with condition the player have cards and sum is equal for both players       
                no_of_ties+=1
                i=i+2                                       # increment i by 2        
                p1.append(player1[i])                       # append and store respective players cards in two list until tie breaks or players cards exhaust 
                p1.append(player1[i+1])
                p2.append(player2[i])
                p2.append(player2[i+1])
                sum1=sum(p1)                                            # add sum of new cards to existing sum1
                sum2=sum(p2)                                            # add sum of new cards to existing sum2
                if(i+1==(len(player1)-1) and sum1==sum2):
                    no_of_ties+=1     
              
            i=i+2                                            # increment i by 2                          
            if(sum1>sum2):                                   # check if player1 has greater final score with respect to player2, player1 won the round    
                discardpile1.extend(p1)                      # empty p1 list to discardpile of player1
                discardpile1.extend(p2)                      # empty p2 list to discardpile of player1
                winning_pile.append(sum1)
                p1=[]                                         # empty p1 and p2
                p2=[]
            elif(sum2>sum1):
                discardpile2.extend(p1)
                discardpile2.extend(p2)
                winning_pile.append(sum2)
                p1=[]
                p2=[]
            else:
                discardpile1.extend(p1)
                discardpile2.extend(p2)
                p1=[]
                p2=[]
    
    score1=sum(discardpile1)
    score2=sum(discardpile2) 
    print("no of ties:",no_of_ties)
    largest_total_won=max(winning_pile)
    print("max winning total:",largest_total_won)
    return no_of_ties, largest_total_won
play()

no of ties: 0
max winning total: 23

(0, 23)

### Exercise 1.3

In [55]:
import statistics 


dict={}
def play(games=1):
    j=0
    li=[]
    while j<games: 
        no_of_ties=0
        winning_pile=[]
        cards=[j for i in range(1,5) for j in range(1,14)]         # deck of cards using list comprehension
        np.random.shuffle(cards)                                   # shuffle the deck of cards
        player1=[]
        player2=[]
        k=0
        while k <len(cards):        
            player1.append(cards[k])                              # distribute cards to the players alternatively
            if (k+1<len(cards)):
                 player2.append(cards[k+1])  
            k=k+2
        initial_total1=sum(player1)                           #initial sum of cards of player1
        initial_total2=sum(player2)                           #initial sum of cards of player2
        discardpile1=[]                                       #discard pile of player1
        discardpile2=[]                                       #discard pile of player2
        i=0
        while i<len(player1):                                 # using while loop to iterate through players cards
            sum1=0                                            # initialize sum1 to 0, sum1 is sum of 2 cards played by player1
            sum2=0
            p1=[]                                             # initialize p1 i.e cards played by player1 
            p2=[]                                             # initialize p2 i.e cards played by player2
            p1.append(player1[i])                             #append cards to both lists 
            p1.append(player1[i+1])
            p2.append(player2[i])
            p2.append(player2[i+1])
            sum1=sum(p1)                                        #sum to find which player has greater sum of cards
            sum2=sum(p2)
            if(sum1>sum2):                                     # check if sum1 is greater than sum2                              
                discardpile1.extend(p1)                        # add cards to discardpile of player1
                discardpile1.extend(p2)
                winning_pile.append(sum1)
                p1=[]                                             #empty p1 and p2
                p2=[]
                i=i+2                                         
            elif(sum2>sum1):                                # check if sum2 is greater than sum1                          
                discardpile2.extend(p1)                     # add cards to discardpile of player2
                discardpile2.extend(p2)
                winning_pile.append(sum2)
                p1=[]                                                 #empty p1 and p2
                p2=[]
                i=i+2
            elif(sum1==sum2):
                while(sum1==sum2 and i+2<len(player1)):       # while loop with condition the player have cards and sum is equal for both players 
                    no_of_ties+=1
                    i=i+2
                    p1.append(player1[i])                      # append and store respective players cards in two list until tie breaks or players cards exhaust 
                    p1.append(player1[i+1])
                    p2.append(player2[i])
                    p2.append(player2[i+1])
                    sum1=sum(p1)                                   # add sum of new cards to existing sum1
                    sum2=sum(p2)                                   # add sum of new cards to existing sum2
                    if(i+1==(len(player1)-1) and sum1==sum2):
                        no_of_ties+=1
                i=i+2
                if(sum1>sum2):                                  # check if player1 has greater final score with respect to player2, player1 won the round    
                    discardpile1.extend(p1)                     # empty p1 list to discardpile of player1
                    discardpile1.extend(p2)                     # empty p2 list to discardpile of player1
                    
                    winning_pile.append(sum1)                   #calculating the winning total after tie is broken including the previous tied cards
                    p1=[]                                       # empty p1 and p2
                    p2=[]
                elif(sum2>sum1):                                # check if player1 has greater final score with respect to player2, player1 won the round
                    discardpile2.extend(p1)                     # empty p1 list to discardpile of player2                
                    discardpile2.extend(p2)                     # empty p1 list to discardpile of player2
                    winning_pile.append(sum2)                   #calculating the winning total after tie is broken including the previous tied cards
                    p1=[]
                    p2=[]
                else:
                    discardpile1.extend(p1)
                    discardpile2.extend(p2)
                    p1=[]
                    p2=[]
        score1=sum(discardpile1)                                 # final score of player1 is sum of elements in discardpile1 
        score2=sum(discardpile2)                                 # final score of player2 is sum of elements in discardpile2
        max_round_total=max(winning_pile)                        # maxinmum winning total
        li=[initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2]
        dict[j+1]=li                                             # assign value in dict with key as game number 
        
        j=j+1
    return dict

### Exercise 1.4

In [56]:
play(1)                                         # call play function with game=1

{1: [196, 168, 1, 36, 212, 152]}

In [57]:
play(5)                                         # call play function with game=5

{1: [180, 184, 1, 39, 216, 148],
 2: [175, 189, 0, 23, 168, 196],
 3: [197, 167, 1, 25, 210, 154],
 4: [180, 184, 1, 24, 206, 158],
 5: [166, 198, 0, 25, 151, 213]}

### Exercise 2

In [58]:
import pandas as pd
play(1000)                          # call play function with game=1000
dfObj = pd.DataFrame.from_dict(dict,orient='index',columns= ["initial_total1","initial_total2","no_of_ties","max_round_total","score1","score2"]) #create dataframe from dictionary

In [59]:
dfObj.head(10)                          #first 10 rows of dataframe

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2
1,183,181,1,23,193,171
2,184,180,0,23,241,123
3,153,211,0,24,95,269
4,157,207,0,25,124,240
5,191,173,1,25,152,212
6,196,168,1,27,212,152
7,174,190,3,45,140,224
8,201,163,2,29,250,114
9,166,198,0,26,140,224
10,180,184,0,24,161,203

In [60]:
dfObj.tail(10)                        #last 10 rows of dataframe

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2
991,188,176,1,34,180,184
992,190,174,2,31,172,192
993,187,177,1,34,135,229
994,159,205,1,29,150,214
995,159,205,1,28,74,290
996,182,182,1,42,220,144
997,189,175,0,26,207,157
998,197,167,1,30,284,80
999,194,170,2,33,266,98
1000,167,197,1,23,124,240

### Exercise 3

### Exercise 3.1

In [61]:
def result(x):                                                    # define function result
    if x['score1']>x['score2']:                                  # if final score of player 1 is greater
        return "Player 1 wins"                                   # then Player 1 wins
    elif x['score1']<x['score2']:                                # if final score of player 2 is greater
        return "Player 2 wins"                                   # then Player 2 wins
    else:                                                        # else there is a tie
        return "Tie game"
    
dfObj['outcome']=dfObj.apply(lambda x : result(x),axis=1)             # adding the column outcome to the dataframe
dfObj.head()

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2,outcome
1,183,181,1,23,193,171,Player 1 wins
2,184,180,0,23,241,123,Player 1 wins
3,153,211,0,24,95,269,Player 2 wins
4,157,207,0,25,124,240,Player 2 wins
5,191,173,1,25,152,212,Player 2 wins

### Exercise 3.2

In [62]:
def newcol_win(x):                                   # define function newcol_win
    if x['score1']>x['score2']:                      # if final score of player 1 is greater
        return x['score1']                           # return score of player 1 
    elif x['score1']<x['score2']:                    # if final score of player 2 is greater
        return x['score2']                           # return score of player 2
    else:                                            # in case of tie return np.NaN
        return np.NaN

dfObj['winning_total']=dfObj.apply(lambda x : newcol_win(x),axis=1)  # adding the column winning_total to the dataframe
dfObj.head()

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2,outcome,winning_total
1,183,181,1,23,193,171,Player 1 wins,193.0
2,184,180,0,23,241,123,Player 1 wins,241.0
3,153,211,0,24,95,269,Player 2 wins,269.0
4,157,207,0,25,124,240,Player 2 wins,240.0
5,191,173,1,25,152,212,Player 2 wins,212.0

In [63]:
def newcol_lose(x):                                        # define function newcol_lose
    if x['score1']>x['score2']:                            # if final score of player 1 is greater
        return x['score2']                                 # return score of player 2
    elif x['score1']<x['score2']:                          # if final score of player 2 is greater
        return x['score1']                                 # return score of player 1
    else:                                                  # in case of tie return np.NaN
        return np.NaN
dfObj['losing_total']=dfObj.apply(lambda x : newcol_lose(x),axis=1) # adding the column losing_total to the dataframe
dfObj.head()

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2,outcome,winning_total,losing_total
1,183,181,1,23,193,171,Player 1 wins,193.0,171.0
2,184,180,0,23,241,123,Player 1 wins,241.0,123.0
3,153,211,0,24,95,269,Player 2 wins,269.0,95.0
4,157,207,0,25,124,240,Player 2 wins,240.0,124.0
5,191,173,1,25,152,212,Player 2 wins,212.0,152.0

### Exercise 3.3

In [64]:
dfObj.head(10)                                        # first 10 records of dfObj

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2,outcome,winning_total,losing_total
1,183,181,1,23,193,171,Player 1 wins,193.0,171.0
2,184,180,0,23,241,123,Player 1 wins,241.0,123.0
3,153,211,0,24,95,269,Player 2 wins,269.0,95.0
4,157,207,0,25,124,240,Player 2 wins,240.0,124.0
5,191,173,1,25,152,212,Player 2 wins,212.0,152.0
6,196,168,1,27,212,152,Player 1 wins,212.0,152.0
7,174,190,3,45,140,224,Player 2 wins,224.0,140.0
8,201,163,2,29,250,114,Player 1 wins,250.0,114.0
9,166,198,0,26,140,224,Player 2 wins,224.0,140.0
10,180,184,0,24,161,203,Player 2 wins,203.0,161.0

In [65]:
dfObj['outcome'].value_counts()                          # the value_counts of outcome column of dfObj

Player 1 wins    501
Player 2 wins    491
Tie game           8
Name: outcome, dtype: int64

In [66]:
dfObj.loc[dfObj['outcome']=='Tie game']                   # those records where outcome is "Tie game"

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2,outcome,winning_total,losing_total
54,186,178,1,31,182,182,Tie game,NaN,NaN
112,185,179,0,25,182,182,Tie game,NaN,NaN
193,180,184,0,24,182,182,Tie game,NaN,NaN
456,177,187,0,25,182,182,Tie game,NaN,NaN
576,167,197,1,27,182,182,Tie game,NaN,NaN
724,181,183,0,25,182,182,Tie game,NaN,NaN
789,188,176,1,25,182,182,Tie game,NaN,NaN
878,189,175,0,23,182,182,Tie game,NaN,NaN

### Exercise 3.4

In [67]:
dfObj.nlargest(10,'winning_total')                        # records with top 10 winning totals

,initial_total1,initial_total2,no_of_ties,max_round_total,score1,score2,outcome,winning_total,losing_total
249,155,209,2,36,0,364,Player 2 wins,364.0,0.0
488,146,218,1,35,0,364,Player 2 wins,364.0,0.0
20,219,145,1,41,343,21,Player 1 wins,343.0,21.0
658,149,215,1,35,31,333,Player 2 wins,333.0,31.0
513,151,213,0,25,43,321,Player 2 wins,321.0,43.0
960,145,219,1,29,45,319,Player 2 wins,319.0,45.0
50,148,216,1,34,46,318,Player 2 wins,318.0,46.0
487,151,213,0,25,46,318,Player 2 wins,318.0,46.0
267,155,209,1,37,49,315,Player 2 wins,315.0,49.0
129,158,206,0,24,51,313,Player 2 wins,313.0,51.0

In [68]:
dfObj['winning_total'].describe()                               # descriptive statistics of winning_total column

count    992.000000
mean     225.540323
std       32.132049
min      183.000000
25%      200.000000
50%      219.000000
75%      246.000000
max      364.000000
Name: winning_total, dtype: float64

### Exercise 4

### Exercise 4.1

In [69]:
dfObj['no_of_ties'].value_counts()                                  # the value_counts of no_of_ties column of dfObj

0    538
1    361
2     84
3     13
4      3
5      1
Name: no_of_ties, dtype: int64

### Exercise 4.2

In [70]:
dfObj.groupby('no_of_ties').mean()[['max_round_total']]            #mean of max_round_total as a function of no_of_ties

            max_round_total
no_of_ties
0                 24.107807
1                 31.238227
2                 36.583333
3                 39.076923
4                 42.666667
5                 60.000000

#### As the number of ties in a game increases the mean of maximum round total increases as well. There is a direct relation between the number of ties and mean of maximum round total